body{
    /* background-image: url("giphy.gif"); */
    /* background-repeat: no-repeat; */
    background-size: 100vw 100vh;
    background-color: grey;
    /* display: flex; */
    
}  
.heading {
    display: flex;
    justify-content: center;
}
#me {
    display: flex;
    justify-content: center; 
    justify-self: center;
    color: rgb(196, 137, 137)
}

.directory{
    display: flex;
    /* width:250px; */
    justify-content: center;
    /* padding-left: 400px; */
}
#decal{
    display: flex; 
    /* flex-direction: row; */
    justify-content: center;
    flex-direction: column;
}
/*
.descripton{
    position: absolute;
    left: 0;
    display: flex;
    align-self: flex-start;
}
*/
.Names{
    position: absolute;
    /*left: 0;*/
    bottom: 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.Names .names{
    padding: 20px;
    background-color: rgb(206, 154, 154);
    color: white;
    height: 100px;
}
.names:hover{
    color: brown;
}